In [101]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

df = pd.read_csv("../lab-customer-analysis-round-5/files_for_lab/csv_files/marketing_customer_analysis.csv")
df.columns = [df.columns[col_name].lower().replace(' ','_') for col_name in range(len(df.columns))] # Standarize columns
df = df.set_index('customer')
df

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
customer,,,,,,,,,,,,,,,,,,,,,
BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,Urban,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,Suburban,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,Suburban,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,Suburban,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,Suburban,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [102]:
# X-y split

y = df['total_claim_amount']
X = df.drop(['total_claim_amount'], axis=1)

In [103]:
# Separate numerical and categorical values

X_num = df.select_dtypes(include='number')
X_cat = df.select_dtypes(exclude='number')

In [104]:
# Normalize (numerical)

def boxcox_transform(df):
    numeric_cols = df.select_dtypes(np.number).columns
    _ci = {column: None for column in numeric_cols}
    for column in numeric_cols:
        # since i know any columns should take negative numbers, to avoid -inf in df
        df[column] = np.where(df[column]<=0, np.NAN, df[column])
        df[column] = df[column].fillna(df[column].mean())
        transformed_data, ci = stats.boxcox(df[column]) 
        df[column] = transformed_data
        _ci[column] = [ci] 
    return df, _ci

X_num_trans, _ci = boxcox_transform(X_num.copy()) #IMPORTANT: use copy method
X_num_trans

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
customer,,,,,,,,
BU79786,2.703839,1247.937066,0.685347,10.876059,3.017887,0.648045,0.000000,33.035752
QZ44356,2.754926,1167.961720,0.685871,5.808248,18.780377,0.648045,1.424359,56.357614
AI49188,2.780772,1144.063081,0.686039,7.347815,17.389171,0.648045,0.607328,40.071789
WW63253,2.759125,1167.961720,0.686018,7.347815,26.160800,0.648045,1.363462,38.763252
HB64268,2.704995,1072.375744,0.685461,5.471294,19.461641,0.648045,0.000000,19.560154
...,...,...,...,...,...,...,...,...
LA72316,2.801170,1448.531450,0.685461,7.347815,33.090025,0.648045,0.607328,23.588905
PK87824,2.711030,697.790558,0.685606,6.134207,13.709541,0.648045,0.000000,32.792951
TD14365,2.762062,1167.961720,0.685725,4.379465,17.034934,1.176115,0.607328,47.263726
UP19263,2.758397,704.383672,0.685898,11.319628,1.667871,0.648045,0.893486,44.225147
Y167826,2.700165,1167.961720,0.685560,1.526503,33.366155,0.648045,0.000000,32.373107

In [107]:
# EXERCISE: One Hot/Label Encoding (categorical)

X_cat_encoded = pd.get_dummies(X_cat, drop_first=True)
X_cat_encoded

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
customer,,,,,,,,,,,,,,,,,,,,,
BU79786,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
QZ44356,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
AI49188,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
WW63253,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
HB64268,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LA72316,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
PK87824,1,0,0,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
TD14365,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
UP19263,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
Y167826,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,1,1,0

In [108]:
# EXERCISE: Concat DataFrames

X_ready = pd.concat([X_num_trans, X_cat_encoded], axis=1)
X_ready

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state_California,state_Nevada,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
customer,,,,,,,,,,,,,,,,,,,,,
BU79786,2.703839,1247.937066,0.685347,10.876059,3.017887,0.648045,0.000000,33.035752,0,0,...,0,0,0,0,0,0,0,1,1,0
QZ44356,2.754926,1167.961720,0.685871,5.808248,18.780377,0.648045,1.424359,56.357614,0,0,...,0,0,0,0,0,0,0,0,1,0
AI49188,2.780772,1144.063081,0.686039,7.347815,17.389171,0.648045,0.607328,40.071789,0,1,...,0,0,0,0,0,0,0,1,1,0
WW63253,2.759125,1167.961720,0.686018,7.347815,26.160800,0.648045,1.363462,38.763252,1,0,...,0,1,0,0,0,1,0,0,1,0
HB64268,2.704995,1072.375744,0.685461,5.471294,19.461641,0.648045,0.000000,19.560154,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LA72316,2.801170,1448.531450,0.685461,7.347815,33.090025,0.648045,0.607328,23.588905,1,0,...,0,0,1,0,0,0,0,0,1,0
PK87824,2.711030,697.790558,0.685606,6.134207,13.709541,0.648045,0.000000,32.792951,1,0,...,1,0,0,0,0,0,0,0,1,0
TD14365,2.762062,1167.961720,0.685725,4.379465,17.034934,1.176115,0.607328,47.263726,1,0,...,1,0,0,0,0,0,0,0,1,0
UP19263,2.758397,704.383672,0.685898,11.319628,1.667871,0.648045,0.893486,44.225147,1,0,...,1,0,0,0,0,0,0,0,0,0
Y167826,2.700165,1167.961720,0.685560,1.526503,33.366155,0.648045,0.000000,32.373107,1,0,...,0,1,0,0,0,0,0,1,1,0

In [109]:
# EXERCISE: Train-test split

X_train, X_test, y_train, y_test = train_test_split(X_ready, y, test_size=0.3, random_state=42)

In [110]:
# EXERCISE: Apply linear regression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [112]:
# EXERCISE: Model validation

prediction = model.predict(X_test)

R2 = r2_score(y_test, prediction)
MSE = mean_squared_error(y_test, prediction, squared=True)
RMSE = mean_squared_error(y_test, prediction, squared=False)
MAE = mean_absolute_error(y_test, prediction)

print("R2:", round(R2,2))
print("MSE:", round(MSE,2))
print("RMSE:", round(RMSE,2))
print("MAE:", round(MAE,2))

R2: 0.95
MSE: 4165.93
RMSE: 64.54
MAE: 36.33